* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.9px;
}
._container {
	width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	position: absolute;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	display: flex;
	align-items: center;
	background-color: #f4f4f4;
	border-bottom: 1px solid #aaa;
	box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
}
.header-container {
	display: flex;
	justify-content: space-between;
}
.header-button-container {
	display: flex;
	width: 290px;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
}
.header-logo {
	width: 55px;
}
._button {
	height: 45px;
	border: 1px solid #870be6;
	border-radius: 6px;
	font-size: 16px;
	background-color: rgb(234, 225, 236);
	padding: 0 30px;
	cursor: pointer;
}
._button.active {
	background-color: #b8a4fd;
}
.main-container {
	min-height: 800px;
	position: relative;
	top: 160px;
}
.content-container {
	max-width: 100%;
}
.search-container {
	height: 70px;
	top: 0px;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px 0 10px;
	margin: 0 auto;
}
.search-container button {
	background-color: #b8a4fd;
}
.input-container {
	width: 650px;
	display: flex;
	height: 45px;
	align-items: center;
	padding: 0px 20px 0px 5px;
	border: 1px solid #d0d7de;
	border-radius: 6px;
	background-color: #f6f8fa;
}
.search-input {
	padding: 5px 12px;
	font-size: 16px;
	line-height: 20px;
	color: #24292f;
	height: 100%;
	width: 100%;
	border: none;
	background-color: #f6f8fa;
}
.search-input::placeholder {
	color: #24292f;
}
.per-page-input {
	padding: 5px 12px;
	width: 100px;
	height: 45px;
	font-size: 16px;
	border: 1px solid #d0d7de;
	border-radius: 6px;
	background-color: #f6f8fa;
}
.select {
	padding: 7px 60px 7px 13px;
	color: rgb(97, 92, 92);
	font-size: 16px;
	border: 1px solid #d0d7de;
	border-radius: 6px;
	height: 45px;
	background-color: #fffdf8;
}
.select-container {
	max-width: 40%;
	top: 115px;
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
}
.users {
	max-width: 96%;
	left: calc(50% - 90% / 2);
	display: grid;
	grid-row-gap: 20px;
	padding: 0 40px 0 10px;
	margin: 70px 10px 0 0;
}
.user-container {
	padding: 20px;
	height: 150px;
	border-radius: 10px;
	background-color: #b8a4fd;
	max-width: 100%;
}
.user-data {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.avatar-wrapper {
	/* width: 250px; */
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.wrapper-info {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-between;
	margin-left: 35px;
}
.wrapper-info p {
	margin-top: 20px;
	font-size: 16px;
	color: rgb(47, 47, 63);
	font-weight: 600;
}
.wrapper-info a {
	margin-bottom: 20px;
	font-size: 16px;
	text-decoration: underline;
}
.wrapper-info button {
	color: rgb(47, 47, 63);
	font-size: 16px;
	background-color: rgb(235, 229, 248);
}
.star-icon path {
	background: red;
	fill: rgb(15, 15, 210);
}
/* pagination */
.pagination-container {
	display: flex;
	align-items: center;
	height: 180px;
	bottom: 0;
	margin-bottom: 130px;
	width: 94%;
	justify-content: flex-end;
}
.pagination-container nav {
	display: flex;
}
.pagination-number,
.pagination-button {
	font-size: 1.1rem;
	background-color: rgb(112, 103, 234);
	border: none;
	margin: 0.25rem 0.25rem;
	cursor: pointer;
	height: 2.5rem;
	border-radius: 0.2rem;
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: #0a1d33;
}
/* spinner */
.showbox {
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5%;
}

.loader {
	position: relative;
	margin: 0 auto;
	width: 100px;
}

.loader::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 899, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100% {
	}
	0% {
		stroke: red;
	}
	40% {
		stroke: blue;
	}
	66% {
		stroke: green;
	}
	80% {
	}
	90% {
		stroke: yellow;
	}
}

/*  */
.repos-user {
	max-width: 96%;
	left: calc(50% - 90% / 2);
	display: grid;
	grid-row-gap: 20px;
	padding: 0 40px 0 10px;
	margin: 70px 10px 0 0;
}
.repos-container {
	padding: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: #b8a4fd;
	max-width: 100%;
}
.repos-container p {
	margin-left: 30px;
	font-size: 18px;
}
.repos-container button {
	margin-right: 30px;
	font-size: 18px;
}
.title-repositories {
	margin: 80px 0 0 10px;
}
.title-user {
	margin: 0px 0 0 10px;
}
